[submodule "scan_cs_ips/tek"]
	path = scan_cs_ips/tek
	url = https://github.com/jeremyng123/cobaltstrike
[submodule "capa-rules"]
	path = capa-rules
	url = https://github.com/mandiant/capa-rules.git
[submodule "ida_scripts"]
	path = ida_scripts
	url = https://github.com/jeremyng123/idaproscripts.git
[submodule "for_ida/HexRaysCodeXplorer"]
	path = for_ida/HexRaysCodeXplorer
	url = https://github.com/REhints/HexRaysCodeXplorer.git
[submodule "config_extractor/plugx/plugxdecoder"]
	path = config_extractor/plugx/plugxdecoder
	url = https://github.com/kcreyts/plugxdecoder.git
[submodule "for_ida/Finger"]
	path = for_ida/Finger
	url = https://github.com/aliyunav/Finger.git
[submodule "hashes/ImpHash-Generator"]
	path = hashes/ImpHash-Generator
	url = https://github.com/jeremyng123/ImpHash-Generator
