[submodule "scan_cs_ips/tek"]
	path = scan_cs_ips/tek
	url = https://github.com/jeremyng123/cobaltstrike
[submodule "for_ida/capa-rules"]
	path = for_ida/capa-rules
	url = https://github.com/mandiant/capa-rules.git
[submodule "ida_scripts"]
	path = ida_scripts
	url = https://github.com/jeremyng123/idaproscripts.git
[submodule "for_ida/HexRaysCodeXplorer"]
	path = for_ida/HexRaysCodeXplorer
	url = https://github.com/REhints/HexRaysCodeXplorer.git
[submodule "config_extractor/plugx/plugxdecoder"]
	path = config_extractor/plugx/plugxdecoder
	url = https://github.com/kcreyts/plugxdecoder.git
[submodule "for_ida/Finger"]
	path = for_ida/Finger
	url = https://github.com/aliyunav/Finger.git
[submodule "hashes/ImpHash-Generator"]
	path = hashes/ImpHash-Generator
	url = https://github.com/jeremyng123/ImpHash-Generator
[submodule "hashes/jpcert_impfuzzy"]
	path = hashes/jpcert_impfuzzy
	url = https://github.com/JPCERTCC/impfuzzy.git
[submodule "hashes/trendmicro_tlsh"]
	path = hashes/trendmicro_tlsh
	url = https://github.com/trendmicro/tlsh.git
[submodule "for_ida/IDAGolangHelper"]
	path = for_ida/IDAGolangHelper
	url = https://github.com/sibears/IDAGolangHelper.git
[submodule "for_ida/obpo-plugin"]
	path = for_ida/obpo-plugin
	url = https://github.com/obpo-project/obpo-plugin.git
[submodule "for_ida/lumen_ida_pro"]
	path = for_ida/lumen_ida_pro
	url = https://github.com/naim94a/lumen.git
[submodule "for_ida/flare-ida"]
	path = for_ida/flare-ida
	url = https://github.com/mandiant/flare-ida.git
