[submodule "scan_cs_ips/tek"]
	path = scan_cs_ips/tek
	url = https://github.com/jeremyng123/cobaltstrike

# Scripts for config extractor
[submodule "config_extractor/plugx/plugxdecoder"]
	path = config_extractor/plugx/plugxdecoder
	url = https://github.com/kcreyts/plugxdecoder.git

# Hashes
[submodule "hashes/ImpHash-Generator"]
	path = hashes/ImpHash-Generator
	url = https://github.com/jeremyng123/ImpHash-Generator
[submodule "hashes/jpcert_impfuzzy"]
	path = hashes/jpcert_impfuzzy
	url = https://github.com/JPCERTCC/impfuzzy.git
[submodule "hashes/trendmicro_tlsh"]
	path = hashes/trendmicro_tlsh
	url = https://github.com/trendmicro/tlsh.git



# IDA Pro Scripts
[submodule "ida_scripts"]
	path = ida_scripts
	url = https://github.com/jeremyng123/idaproscripts.git

# For IDA
[submodule "for_ida/IDAGolangHelper"]
	path = for_ida/IDAGolangHelper
	url = https://github.com/sibears/IDAGolangHelper.git
[submodule "for_ida/obpo-plugin"]
	path = for_ida/obpo-plugin
	url = https://github.com/obpo-project/obpo-plugin.git
[submodule "for_ida/lumen_ida_pro"]
	path = for_ida/lumen_ida_pro
	url = https://github.com/naim94a/lumen.git
[submodule "for_ida/flare-ida"]
	path = for_ida/flare-ida
	url = https://github.com/mandiant/flare-ida.git
[submodule "for_ida/capa-rules"]
	path = for_ida/capa-rules
	url = https://github.com/mandiant/capa-rules.git
[submodule "for_ida/Finger"]
	path = for_ida/Finger
	url = https://github.com/aliyunav/Finger.git
[submodule "for_ida/HexRaysCodeXplorer"]
	path = for_ida/HexRaysCodeXplorer
	url = https://github.com/REhints/HexRaysCodeXplorer.git
[submodule "for_ida/flare-emu"]
	path = for_ida/flare-emu
	url = https://github.com/mandiant/flare-emu
[submodule "for_ida/hexcopy-ida"]
	path = for_ida/hexcopy-ida
	url = https://github.com/OALabs/hexcopy-ida.git
[submodule "for_ida/capa"]
	path = for_ida/capa
	url = https://github.com/mandiant/capa.git
[submodule "for_ida/FLIRTDB"]
	path = for_ida/FLIRTDB
	url = https://github.com/Maktm/FLIRTDB.git
[submodule "for_ida/hashdb-ida"]
	path = for_ida/hashdb-ida
	url = https://github.com/OALabs/hashdb-ida.git
[submodule "for_ida/ida-rizzo"]
	path = for_ida/ida-rizzo
	url = https://github.com/tacnetsol/ida.git
[submodule "for_ida/idacode"]
	path = for_ida/idacode
	url = https://github.com/ioncodes/idacode.git
[submodule "for_ida/x64dbgida"]
	path = for_ida/x64dbgida
	url = https://github.com/x64dbg/x64dbgida.git
[submodule "for_ida/findcrypt-yara"]
	path = for_ida/findcrypt-yara
	url = https://github.com/polymorf/findcrypt-yara.git
[submodule "for_ida/theme_dracula"]
	path = for_ida/theme_dracula
	url = https://github.com/dracula/ida.git
[submodule "for_ida/IDABeautify"]
	path = for_ida/IDABeautify
	url = https://github.com/P4nda0s/IDABeautify.git
[submodule "for_ida/deobfuscation stuff/d810"]
	path = for_ida/deobfuscation stuff/d810
	url = https://github.com/joydo/d810.git
[submodule "for_ida/lucid"]
	path = for_ida/lucid
	url = https://github.com/gaasedelen/lucid.git
[submodule "INDXParse"]
	path = INDXParse
	url = https://github.com/williballenthin/INDXParse.git
[submodule "for_ida/IDA-WindbGlue"]
	path = for_ida/IDA-WindbGlue
	url = https://github.com/BenH11235/IDA-WindbGlue.git
[submodule "for_ida/qsynthesis"]
	path = for_ida/qsynthesis
	url = https://github.com/quarkslab/qsynthesis
[submodule "for_ida/leveldb"]
	path = for_ida/leveldb
	url = https://github.com/google/leveldb.git
[submodule "for_ida/ret-sync"]
	path = for_ida/ret-sync
	url = https://github.com/bootleg/ret-sync.git
